{% extends 'layout.html.twig' %}

	{% block body %}
        <!-- main content -->
        <main class="main">
            <div class="container-fluid">
                <div class="row row--grid">
                    <!-- breadcrumb -->
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="{{ path('page-home') }}">Home</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">Likes</li>
                        </ul>
                    </div>
                    <!-- end breadcrumb -->

                    <!-- title -->
                    <div class="col-12">
                        <div class="main__title main__title--page">
                            <h1>Likes</h1>
                        </div>
                    </div>
                    <!-- end title -->
                </div>
                <section class="row row--grid">
                    <div class="col-12 col-xl-12">
                        <div class="row row--grid">
                            <div class="col-12">
                                <ul class="main__list">
                                    {% for like in likes %}
                                        <li class="single-item">
                                            <a data-link data-title="{{ like.song.name }}" data-artist="{{ like.song.album.cover }}"
                                               data-img="{{ asset('img/covers/' ~ like.song.album.cover) }}"
                                               href="{{ asset('music/' ~ like.song.album.artist.id ~ '/' ~ like.song.album.id ~ '/' ~ like.song.path) }}"
                                               class="single-item__cover">
                                                <img src="{{ asset('img/covers/' ~ like.song.album.cover) }}" alt="">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path d="M16,2a3,3,0,0,0-3,3V19a3,3,0,0,0,6,0V5A3,3,0,0,0,16,2Zm1,17a1,1,0,0,1-2,0V5a1,1,0,0,1,2,0ZM8,2A3,3,0,0,0,5,5V19a3,3,0,0,0,6,0V5A3,3,0,0,0,8,2ZM9,19a1,1,0,0,1-2,0V5A1,1,0,0,1,9,5Z"/>
                                                </svg>
                                            </a>
                                            <div class="single-item__title">
                                                <h4><a href="#">{{ like.song.name }}</a></h4>
                                                <span><a href="{{ path('page-artist', {id: like.song.album.artist.id}) }}l">{{ like.song.album.artist.name }}</a></span>
                                            </div>
                                            <span class="single-item__time">{{ like.createdAt|date('Y-m-d H:i:s') }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- end main content -->
    {% endblock %}